.dashbord-Layout{
  display: flex;
  flex-direction: row;
  margin: none;
  height: 100vh;
  background-color: grey;
  .side-nav-bar{
      flex-basis: 25%;
      max-width: 300px;
      min-width: 200px;
      background-color: gray;
      }
  .main-container{
    flex-basis: 80%;
    padding: 12px;
    background-color: blue;
    border-radius: 12px;
    margin: 8px;
  }
}