.dashbord-Layout{
  display: flex;
  flex-direction: row;
  height: 100vh;
  .side-nav-bar{
      flex-basis: 25%;
      max-width: 300px;
      min-width: 200px;
      background-color: yellow;
      }
  .main-container{
    flex-basis: 80%;
    background-color: blue;
  }
}